/* Contact.css */
.contact-div {
  display: flex;
  min-height: 900px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: black;
  width: 100%;
}

.text-button{
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.contact-email {
  color: black;
}

.contact-info {
  display: flex;
  min-width: 350px;
  width: 700px;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Quicksand', sans-serif;
}

.contact-item {
  margin-bottom: 10px;
}

.contact-item h1,
.contact-item h2,
.contact-item h3 {
  margin-bottom: 10px;
}

.google-reviews {
  color: white;
}

.email-icon {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007bff;
  cursor: pointer;
  justify-content: center;
}

.email-icon:hover{
  scale: 1.05;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .contact-div {
    flex-direction: column;
    padding-bottom: 75px;
    padding-top: 80px;
  }

  .contact-item h1,
  .contact-item h2,
  .contact-item h3 {
    font-size: 15px;
    margin-bottom: 3px;
  }

  .contact-item p {
    font-size: 12px;
    margin-bottom: 2px;
  }

  .contact-item {
    margin-bottom: 2px;
  }

  .contact-info {
    width: 300px;
  }
}

.locations-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.locations-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.location-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.location-icon {
  margin-right: 10px;
  margin-left: 10px;
  color: crimson;
  /* Add additional styling for the icon (font size, color, etc.) */
}

.location-group {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
