/* PhoneNumberLink.css */

.phone-num-link{
  color:gold;
}
  
  h2 {
    margin-top: 0;
  }
  
  /* #textMessage {
    width: 100%;
    height: 80px;
    padding: 8px;
    resize: none;
    
  } */
  
  .text-button {
    color: #007bff;
    cursor: pointer;
    justify-content: center;
  }
  
  .text-button:hover {
    color: #0c78eb;
    scale: 1.1;
  }
  
  div a {
    color:gold;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: none;
    color:gold;
  }
  