.container-div {
    display: flex;
    flex-direction:row;
    width:100%;
    margin: 0;
    text-align: center;
    background-color: rgb(27, 26, 26);
    color: white;
    height: 100%, fit-content;
  }

.main-div{
    background-color:grey;
    display: "flex";
    width: 100%;
    background-color: rgb(27, 26, 26);
  }